<mat-card class="settings-card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="header-icon">
      <mat-icon aria-hidden="true">{{ icon }}</mat-icon>
    </div>
    <mat-card-title>
        <h2>{{ headerTitle }}</h2>
        @if (helpMessage) {
          <app-help-button [message]="helpMessage"></app-help-button>
        }
    </mat-card-title>
    @if (subtitle) {
      <mat-card-subtitle>{{ subtitle }}</mat-card-subtitle>
    }
  </mat-card-header>

  <!-- Optional full width image slot -->
  <ng-content select="[card-image]"></ng-content>

  <mat-card-content class="card-body">
    <!-- Main content will be projected here -->
    <ng-content></ng-content>
  </mat-card-content>

  <!-- Optional actions slot -->
  <ng-content select="mat-card-actions"></ng-content>
</mat-card>