<div
  class="m3-snackbar-container"
  [ngClass]="data.type"
  [class.legacy-style]="themeService.useLegacyNotifications()"
  [class.force-hc-style]="themeService.forceHighContrastNotifications()"
>
  <div class="icon-area">
    <mat-icon>{{ getIcon() }}</mat-icon>
  </div>

  <div class="content-area">
    <span class="message">{{ data.message }}</span>
  </div>

  <div class="action-area">
    @if (data.action) {
      <button mat-button (click)="snackBarRef.dismissWithAction()">
        {{ data.action }}
      </button>
    } @else {
      <button mat-icon-button (click)="snackBarRef.dismiss()">
        <mat-icon>close</mat-icon>
      </button>
    }
  </div>
</div>
