<mat-menu #menu="matMenu" class="cycle-menu">
  <button mat-menu-item (click)="cycleVPosition($event)">
    <mat-icon>vertical_align_center</mat-icon>
    <span class="label">Vertical Spawn</span>
    <span class="value">{{ prefs.snackbarVPosition() }}</span>
  </button>

  <button mat-menu-item (click)="cycleHPosition($event)">
    <mat-icon>align_horizontal_center</mat-icon>
    <span class="label">Horizontal Spawn</span>
    <span class="value">{{ prefs.snackbarHPosition() }}</span>
  </button>
</mat-menu>
