@use "motion" as motion;

:root {
  --mdc-filled-button-container-shape: var(--app-shape-button);
  --mdc-outlined-button-container-shape: var(--app-shape-button);
  --mdc-text-button-container-shape: var(--app-shape-button);
  --mdc-protected-button-container-shape: var(--app-shape-button);
  --mdc-filled-tonal-button-container-shape: var(--app-shape-button);
  
  --mdc-fab-container-shape: var(--app-shape-button);
  --mdc-fab-small-container-shape: var(--app-shape-button);
  --mdc-fab-large-container-shape: var(--app-shape-button);
  --mdc-extended-fab-container-shape: var(--app-shape-button);
  
  --mdc-chip-container-shape: var(--app-shape-badge);
}

.mat-mdc-icon-button {
  border-radius: var(--app-shape-button) !important;
}

.mat-mdc-icon-button .mat-mdc-button-persistent-ripple,
.mat-mdc-icon-button .mat-mdc-button-ripple {
  border-radius: var(--app-shape-button) !important;
}

.mat-mdc-button-base {
  transition: border-radius motion.$duration-long motion.$ease-shape !important;
  @include motion.reduced-motion-reset('global');
}