@use "../../_preferences-shared.scss";

.preview-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 4px;

  button {
    border: 1px solid;
    flex: 1 1 auto;
  }

  .btn-success {
    background-color: var(--mat-sys-success-container) !important;
    border-color: var(--mat-sys-success) !important;
    color: var(--mat-sys-on-success-container) !important;
  }
  .btn-warning {
    background-color: var(--mat-sys-warning-container) !important;
    border-color: var(--mat-sys-warning) !important;
    color: var(--mat-sys-on-warning-container) !important;
  }
  .btn-info {
    background-color: var(--mat-sys-info-container) !important;
    border-color: var(--mat-sys-info) !important;
    color: var(--mat-sys-on-info-container) !important;
  }
  .btn-error {
    background-color: var(--mat-sys-error-container) !important;
    border-color: var(--mat-sys-error) !important;
    color: var(--mat-sys-on-error-container) !important;
  }
}
