<section class="hero">
  <div class="hero-content">
    <div class="hero-text">
      <h1>
        Design that adapts to <span class="highlight-text">every user.</span>
      </h1>
      <p>
        Static interfaces are a thing of the past. Empower your users with
        granular control over contrast, density, typography and more.
      </p>
      <div class="hero-actions">
        <button mat-flat-button color="primary" routerLink="/configurations">
          <mat-icon>tune</mat-icon> Start Customizing
        </button>

        <button mat-stroked-button (click)="openDocs()">
          <mat-icon>menu_book</mat-icon> Documentation
        </button>
      </div>
    </div>

    <div class="hero-graphic">
      <app-mock-window></app-mock-window>
    </div>
  </div>
</section>