<section class="features-grid">
  @for (feature of features; track feature.title) {
    <mat-card class="feature-card">
      <mat-card-header>
        <div mat-card-avatar class="icon-box">
          <mat-icon>{{ feature.icon }}</mat-icon>
        </div>
        <mat-card-title>{{ feature.title }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p
          [innerHTML]="
            formatDescription(feature.description, feature.highlightWords)
          "
        ></p>
      </mat-card-content>
    </mat-card>
  }
</section>
