// 1. Core styles
@use '@angular/material' as mat;

// 2. Import theme definitions
@use './assets/themes/main-themes/light-themes';
@use './assets/themes/main-themes/dark-themes';

// 3. Import filter definitions
@use './assets/filters/filters';

// 4. Import Typography definitions
@use './assets/typography/typography.scss';

@include mat.core();

// 5. Global styles
// These styles apply everywhere.
html, body {
  height: 100%;
}

body {
  margin: 0;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  transition: background-color 0.3s, color 0.3s;
}