@use "motion" as motion;

// --- SPECIFIC SHAPES DEFINITIONS ---
:root {
  --mdc-outlined-text-field-container-shape: var(--app-shape-input);
  --mdc-filled-text-field-container-shape: var(--app-shape-input) var(--app-shape-input) 0 0;
  --mat-menu-container-shape: var(--app-shape-input);
}

.mat-button-toggle-group {
  border-radius: var(--app-shape-input) !important;
}

// --- GLOBAL SHAPE TRANSITIONS ---
.mat-button-toggle-group,
.mdc-text-field,
.mat-mdc-menu-panel,
.mat-mdc-select-panel {
  transition: border-radius motion.$duration-long motion.$ease-shape !important;

  @include motion.reduced-motion-reset('global');
}

// --- INTERNAL COMPONENT ANIMATIONS (Reduced Motion) ---
.mat-button-toggle-button,
.mat-button-toggle-label-content,
.mat-button-toggle-checked::before,
.mat-button-toggle-focus-overlay,
.mdc-floating-label,
.mdc-line-ripple,
.mdc-line-ripple::before,
.mdc-notched-outline__notch,
.mat-mdc-select-arrow,
.mat-mdc-select-panel,
.mat-mdc-menu-panel,
.mat-mdc-dialog-container {

  @include motion.reduced-motion-reset('global');
  
}