@use "motion" as motion;

/* Shape & Border Radius Overrides */
:root {
  --mdc-shape-small: var(--app-border-radius);
  --mdc-shape-medium: var(--app-border-radius);
  --mdc-shape-large: var(--app-border-radius);
  --mat-mdc-button-persistent-ripple-shape: var(--app-border-radius);
  --mat-mdc-card-shape: var(--app-border-radius);
}

.mat-mdc-card {
  transition: border-radius motion.$duration-long motion.$ease-shape !important;
  @include motion.reduced-motion-reset('global');
}