@use "motion" as motion;

/* Base Snackbar */
.app-notification-panel {
  --mdc-snackbar-container-color: transparent;
  --mdc-snackbar-supporting-text-color: transparent;

  .mdc-snackbar__surface {
    background-color: transparent !important;
    box-shadow: none !important;
    padding: 0 !important;
    display: flex;
    justify-content: center;
  }
}

// --- REDUCED MOTION OVERRIDES ---
.app-notification-panel .mdc-snackbar__surface,
.cdk-overlay-pane .mat-mdc-snack-bar-container {
  @include motion.reduced-motion-reset('global') {
    transform: none !important;
  }
}