@use "motion" as motion;

:root {
  --app-typography: 16px; //1rem
}

html {
  font-size: var(--app-typography);
  transition: font-size 0.1s ease-in-out;

  @include motion.reduced-motion-reset('self');
}