@use 'sass:map';
@use '@angular/material' as mat;
@use 'theme-definitions' as defs;
@use '../../typography/font-definitions' as fonts;

@each $font-class, $font-config in fonts.$fonts {
  .#{$font-class} {

    // Generate standard light themes for each density level
    @each $theme-name, $theme-config in defs.$themes {
      @for $i from 0 through 5 {
        // Only apply these styles when .dark-mode is NOT present
        .#{$theme-name}-theme.density-#{$i}:not(.dark-mode) {
          @include mat.theme((
            color: (
              primary: map.get($theme-config, 'primary'),
              tertiary: map.get($theme-config, 'tertiary'),
              theme-type: light
            ),
            typography: fonts.get-typography-config($font-class),
            density: -$i
          ));
        }
      }
    }

    // Generate high-contrast overrides, also ensuring it's not in dark mode
    .high-contrast-mode:not(.dark-mode) {
      @each $theme-name, $theme-config in defs.$themes {
        &.#{$theme-name}-theme {
          @include defs.apply-high-contrast($theme-name, light);
        }
      }
    }
  }
}