<!-- ***** THIS COMPONENT IS ALSO AN PLACEHOLDER AND CAN BE DELETED OR REPURPOSED ***** -->
<h2 mat-dialog-title class="dialog-title">
    <mat-icon>color_lens</mat-icon>
    Color Vision Simulation
</h2>

<mat-dialog-content>
    <p>
        This application includes an accessibility tool to simulate how users with different types of color vision deficiency perceive the interface.
    </p>

    <h3>How to activate the filter:</h3>
    <ol class="instructions-list">
        <li>
            Locate the floating Quick Settings buttons in the bottom-right corner of the screen.
        </li>
        <li>
            Click the <span class="no-wrap-group"><strong>eye</strong> icon <mat-icon>visibility</mat-icon></span> to open the simulation menu.
        </li>
        <li>
            Select a filter (e.g., Protanopia, Tritanopia) to apply it across the page.
        </li>
        <li>
            To disable the filter, select <span class="no-wrap-group"><strong>Default</strong></span> from the menu.
        </li>
    </ol>
    <p>
        This helps ensure the UI is accessible and has sufficient color contrast for all users.
    </p>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-flat-button mat-dialog-close>Got it!</button>
</mat-dialog-actions>