<mat-menu #menu="matMenu" class="cycle-menu">
  <button mat-menu-item (click)="cycleShape($event)">
    <mat-icon>rounded_corner</mat-icon> <span class="label">Corner Radius</span>
    <span class="value">{{ shapeName() }}</span>
  </button>
  <button mat-menu-item (click)="cycleDensity($event)">
    <mat-icon>compress</mat-icon> <span class="label">Density</span>
    <span class="value">{{ densityName() }}</span>
  </button>
  <button mat-menu-item (click)="cycleMotion($event)">
    <mat-icon>animation</mat-icon> <span class="label">Motion</span>
    <span class="value">{{ motionName() }}</span>
  </button>
</mat-menu>
