<mat-sidenav-container class="app-container">
  
  <!-- DRAWER -->
  <mat-sidenav
    #settingsDrawer
    mode="over"
    position="end"
    class="settings-drawer"
  >
    <app-preferences-side-drawer
      (closeDrawer)="settingsDrawer.close()"
    ></app-preferences-side-drawer>
  </mat-sidenav>

  <mat-sidenav-content class="main-content">
    <div class="app-layout">
      <!-- NAVBAR -->
      <app-navbar [drawer]="settingsDrawer"></app-navbar>

      <!-- MAIN PAGE -->
      <main class="app-main">
        <router-outlet></router-outlet>
      </main>

      <!-- FOOTER -->
      <app-footer></app-footer>

      <!-- FAB -->
      @if (uiState.widgetMode() === "fab") {
        <app-preferences-fab></app-preferences-fab>
      }
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>