.content-wrapper {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 1200px;
    margin: 0 auto;
}

.control-section {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.slider-label {
    margin-bottom: -10px; // Adjust layout for mat-slider
}

.control-slider {
    width: 100%;
}

.item-title{
    margin-bottom: 1rem;
}

.button-row, .row {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 2rem;
    align-items: center;
}