<mat-menu #menu="matMenu" class="vision-menu">
  <!-- CVD -->
  <div class="menu-group-header">Color Deficiency</div>
  @for (cvd of cvds; track cvd.value) {
    <button mat-menu-item (click)="selectCvd($event, cvd.value)">
      <mat-icon [class.active-icon]="prefs.cvd() === cvd.value">
        {{
          prefs.cvd() === cvd.value
            ? "radio_button_checked"
            : "radio_button_unchecked"
        }}
      </mat-icon>
      {{ cvd.label }}
    </button>
  }

  <mat-divider></mat-divider>

  <!-- Environment -->
  <div class="menu-group-header">Environmental Filter</div>
  @for (filter of filters; track filter.value) {
    <button mat-menu-item (click)="selectFilter($event, filter.value)">
      <mat-icon [class.active-icon]="prefs.screenFilter() === filter.value">
        {{
          prefs.screenFilter() === filter.value
            ? "radio_button_checked"
            : "radio_button_unchecked"
        }}
      </mat-icon>
      {{ filter.label }}
    </button>
  }
</mat-menu>
